{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {leptus, ".*", {git, "git://github.com/s1n4/leptus.git", {branch, "master"}}},
  {riak_erlang_client, ".*", {git, "git://github.com/basho/riak-erlang-client.git", "2.5.0"}}
]}.

{relx,
  [{release,
    { erlang_reactive_distributed, "0.1.0" },
    [erlang_reactive_distributed, sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.

{lager, [
  {handlers, [
    {lager_console_backend, info}
  ]}
]}.


{profiles, [{prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
  }]
}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},
  {override, protobuffs, [{deps, []}]},
  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                   {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                    {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                   {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                    {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]}]
}.
